@{
    ViewData["Title"] = "Home Page";
}
<div class="form-group">
    &nbsp;
</div>

<button id="start-session" style="display: none">Start Session</button>

<div id="entrance">
    <label for="nick">Enter your nickname:</label>
    <input type="text" id="nick" />
    <button onclick="continueToGroup()">Continue</button>
</div>

<div id="choose-group" style="display:none">
    <label for="group">Choose a group:</label>
    <select id="group">
        <option value="Group 1">Group 1</option>
        <option value="Group 2">Group 2</option>
        <option value="Group 3">Group 3</option>
    </select>
    <button onclick="continueToChat()">Continue</button>
</div>

<div id="chat" style="display: none">
    <div>
        <h3 id="spn-nick"></h3>
        <h4 id="spn-group"></h4>
    </div>

    <form id="frm-send-message" action="#">
        <label for="message">Message:</label>
        <div class="container" style="display:flex">
            <div>
                <img style="height:100px;" src="https://www.readersdigest.ca/wp-content/uploads/sites/14/2011/01/4-ways-cheer-up-depressed-cat.jpg" alt="W3Schools.com">
                <br /><input type="radio" name="selection" value="left" /> &lt;-- Left |
            </div>
            <div>
                <img style="height:100px;" src="https://www.readersdigest.ca/wp-content/uploads/sites/14/2011/01/4-ways-cheer-up-depressed-cat.jpg" alt="W3Schools.com">
                <br />| Right --&gt; <input type="radio" name="selection" value="right" />
            </div>
        </div>
        
        <input type="text" id="message" />
        <input type="submit" id="send" value="GroupMessage" class="send" />
    </form>
    <div class="clear">
    </div>
    <ul id="messages"></ul>
</div>


@*<img style="height:100px;" src="https://www.readersdigest.ca/wp-content/uploads/sites/14/2011/01/4-ways-cheer-up-depressed-cat.jpg" alt="W3Schools.com">*@

<script src="lib/signalr/signalr.min.js"></script>
<script src="lib/jquery/dist/jquery.min.js"></script>



<script>

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .build();

    connection.start().catch(err => console.error(err.toString()));

    connection.on('GroupMessage', (nick, message) => {
        appendLine(nick, message);
    });

    connection.on('TurnEligible', (message) => {
        if (message.toString().localeCompare('true') == 0) {
            $('#send').removeAttr('disabled');
        }
        else {
            $('#send').attr('disabled', 'disabled');
        }
    });

    document.getElementById('start-session').addEventListener('click', event => {
        let group = $('#spn-group').text();
        connection.invoke('StartGroupSession', group);
        event.preventDefault();
    });

    document.getElementById('frm-send-message').addEventListener('submit', event => {
        let message = $('#message').val();
        let selection = $('input[name=selection]:checked').val()
        let group = $('#spn-group').text();
        let nick = $('#spn-nick').text();

        $('#message').val('');

        connection.invoke('GroupMessage', group, nick, nick + ' chose the ' + selection + ' image<br/>' + message);
        event.preventDefault();
    });

    function appendLine(nick, message, color) {
        let nameElement = document.createElement('strong');
        nameElement.innerText = `${nick}:`;

        let msgElement = document.createElement('em');
        msgElement.innerHTML = message.replace("<script>", "&lt;script&gt;").replace("<\/script>", "&lt;/script&gt;");
        //msgElement.innerText = ` ${message}`;

        let li = document.createElement('li');
        li.appendChild(nameElement);
        li.appendChild(msgElement);

        $('#messages').append(li);
    };

    function continueToGroup() {
        $('#spn-nick').text($('#nick').val());
        $('#entrance').hide();
        $('#choose-group').show();
    }

    function continueToChat() {
        $('#spn-group').text($('#group').val());
        $('#choose-group').hide();
        $('#start-session').show();
        $('#chat').show();

        let group = $('#spn-group').text();
        let nick = $('#spn-nick').text();

        connection.invoke('JoinGroup', group, nick);
        event.preventDefault();
    }

    $(window).on("unload", function (e) {
        let group = $('#spn-group').text();
        let nick = $('#spn-nick').text();

        connection.invoke('GroupMessage', group, nick, nick + ' has left the chat.');
        event.preventDefault();
    });
</script>