
<link rel="stylesheet" href="~/css/site.css" />
<script src="~/lib/signalr/signalr.min.js"></script>

<div class="modal" id="chatModal">
    <div class="modal-dialog" id="modalDialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#f9f9f9;">
                <div style="float:left;">
                    <button id="modalToggleConn" title="Connect to Chat?" onclick="toggleConnection()" style="width:26px;height:26px;margin:0px 0px 0px 0px; padding: 0px 0px 0px 0px;"><img id="modalConnected" style="margin:0px 0px 0px 0px; padding: 0px 0px 0px 0px;"/></button>
                    <input type="text" id="modalHandle" style="width:125px;" value="Guest_@DateTimeOffset.UtcNow.ToString("ddhhssfff")" />
                    <div id="modalChatID" style="display:none;"></div>
                </div>
                <div style="float:right;">
                    <select id="modalGroup" data-old-value="general" onchange="joinGroup()" style="height:26px">
                        <!--<option value="" disabled="disabled" selected="selected"> -- select an option -- </option>-->
                        <option value="general" selected="selected">General Chat</option>
                        @for (int i = 0; i < 5; i++)
                        {
                            <option value="Chat-Room @i">Chat-Room @i</option>
                        }
                    </select>
                    <button id="collapseModal">v</button>
                </div>
            </div>
            <div class="modal-body" id="modalBody" style="background-color:#f9f9f9;">
                <ul id="modalList" style="padding:0;list-style-type:none;"></ul>
            </div>
            <div class="modal-footer" id="modalFooter" style="display:flex">
                <textarea id="modalMessage" form="frm-modal-message" ></textarea>
                <form id="frm-modal-message">
                    <input type="submit" id="modalSend" value="Send" class="send" style="max-height:70px"/>
                </form>
            </div>
        </div>
    </div>
</div>
