
<link rel="stylesheet" href="~/css/site.css" />
<script src="~/lib/signalr/signalr.min.js"></script>

<div class="modal" id="chatModal">
    <div class="modal-dialog" id="modalDialog">
        <div class="modal-content">
            <div class="modal-header">
                <div style="float:left;">
                    <button id="modalToggleConn" title="Connect to Chat?" onclick="toggleConnection()"><img id="modalConnected" /></button>
                    <input type="text" id="modalHandle" style="width:auto;" value="Guest_@DateTimeOffset.UtcNow.ToString("ddhhssfff")" />
                    <div id="modalChatID" style="display:none;"></div>
                </div>
                <div style="float:right;">
                    <select id="modalGroup" onchange="joinGroup()">
                        <!--<option value="" disabled="disabled" selected="selected"> -- select an option -- </option>-->
                        <option value="general" selected="selected">General Chat</option>
                        @for (int i = 0; i < 5; i++)
                        {
                            <option value="group @i">Group @i</option>
                        }
                    </select>
                    <button id="collapseModal">v</button>
                </div>
            </div>
            <div class="modal-body" id="modalBody">
                <ul id="modalList"></ul>
            </div>
            <div class="modal-footer" id="modalFooter" style="display:flex">
                <form id="frm-modal-message" style="flex-grow: 100;">
                    <input type="text" id="modalMessage" style="float:left;flex-grow: 100;" />
                    <input type="submit" id="modalSend" value="Send" class="send" />
                </form>
            </div>
        </div>
    </div>
</div>
